.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width:93%;
}
.shopcategory-index-sort{
    display: flex;
    margin: 4px 50px;
    justify-content: space-between;
    align-items:center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid silver;
}
.shopcategory-index-sort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 10px 36px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.shopcategory-loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background: lavender;
    border-radius: 40px;
    font-size: 19px;
    font-weight: 600;
    width: 200px;
    height: 60px;
}